*.egg-info/*
*.egg*
*.pdf
*.pyc
*.pyo
**/__pycache__/*
**/.mypy_cache/*
**/.pytest_cache/*
**/.venv/*
**/*.egg*/*
**/*cache/*
**/*egg*/*
**/connected-*/*
**/Lib/*
**/Lib/*
**/not_available/*
**/tles/*
fk_const_table.csv
geo_const_table.csv
sgp4_xp_search.egg-info/dependency_links.txt
sgp4_xp_search.egg-info/dependency_links.txt
sgp4_xp_search.egg-info/PKG-INFO
sgp4_xp_search.egg-info/requires.txt
sgp4_xp_search.egg-info/top_level.txt
Sgp4Prop_*.zip
test_log.txt
